body
{
	background-image:url("../images/giphy.gif");
	background-color: rgba(248, 24, 20, 0.2);
	  /* Full height */
	height: 160%; 

	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    background-attachment: fixed;

}
html 
{
width: 100%;
height: 100%;
clip: auto;
position: absolute;
overflow: hidden;
}
.heading
{
	transform:translate(10px,30px);
	text-align:center;
	color:white;
}
.column {
  float: left;
  width: 25%;
  padding: 5px;
  flex: 25.33%;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
.row {
  display: flex;
  transform:translate(0%,15%);
  
}
.container {
  position: relative;
  width: 50%;
}

.image {
  opacity: 1;
  display: block;
  width: 400%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
.container {
   display: inline-block;
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-10%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: black;
  color: white;
  font-size: 18px;
  padding: 16px 32px;
}